body {
     background-color: #3d4f51;
     margin: 0px;
     
}
* {
    margin: 0px;
    padding: 0px;
}
html {
      font-size: 30px;
      color: azure;
      text-align: center;
}

#arbol {
    position: absolute;
    z-index: 1;
    margin-bottom: -0.1rem;
    max-width: 100%;
    max-height: 100%;
   width: 90%;
   

}
.hombre-ahorcado {
    background-image: url(./img/AHORFONDO.png);
     background-repeat: no-repeat;
     background-size:100% 100%;
     position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    padding-top: 1rem;
   opacity: 60%;
    
}
.pointer {
    pointer-events: none;
}

.Correcto {
    padding-top: 1rem;
  text-align: center;
}
.letra {
    display: inline-block;
    width: 2rem;
    height: 2.5rem;
    font-size: 1.8rem;
    vertical-align: middle;
    text-align: center;
    border-bottom: solid 3px #0f3439;
    margin-left: 0.4rem;
    line-height: 3rem;
}
.adivinada {
    width: 4.5rem;
    border-bottom: solid 3px #0f3439;
}
.incorrecto {
    text-align: center;
    margin-top: 1rem;
    color: #242d34;
    
}

[type="button"]{
   
    margin-top: 2rem;
    width: 10rem;
    height: auto;
    padding: 1rem;
    border-radius: 1rem;
    border: solid 1px #0f3439;
    font-size: .8rem;
    text-align: center;
    vertical-align: middle;
    opacity: 65%;
    font-weight: 900;
    color: #0f3439;
    }
    #agregar {
        margin-top: 5rem;
        width: 10rem;
        height: 3rem;
        border-radius: 1rem;
        border: solid 1px #0f3439;
        background-color: #3d4f51;
        font-size: 1rem;
        text-align: center;
        opacity: 80%;  
        font-weight: 800;
        color: #ffffff;
    }
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        opacity: 0;
        pointer-events: none;
        
     }
     .modal--show {
        opacity: 1;
        pointer-events: unset;

     }
     .modalContent {
     background-color: #fff;
     font-size: 1rem;
     margin: auto;
     border: solid 3px #0f3439;
     border-radius: 10px;
     width: 90%;
     max-width: 900px;
     max-height: 90%;
     padding: 1em .5em;
     color: #0f3439;
     font-weight: 900;
     gap: 2rem;
    display: flex;
     
     }
     input{
        margin: auto;
         width: 6rem;
         height: 1.5rem; 
         font-size: larger;
         padding: .5rem;
     }
     .close {
     color: rgb(192, 40, 40);
     padding: .2em .2em;
     float: right;
     font-size: .8rem;
     font-weight: bold;
     display: inline-block;
     text-decoration: none;
     }
     .modalContainer .close:hover, .close:focus {
     color: #000;
     text-decoration: none;
     cursor: pointer;
     }
       .confirmar {
             margin:auto;
             width: 6rem;
             height: 2rem;
             border-radius: 1rem;
             border: solid 1px #0f3439;
             background-color: #3d4f51;
             font-size: 0.7rem;
             text-align: center;
             opacity: 80%;  
             font-weight: 700;
             color: #ffffff;
         }
